body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}
      
                                                             /******** NAV-BAR ********/
.logo{
    width: 100px; 
    align-self: center;
    width: 100px; 
  
    align-self: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    
    display: flex;   
    gap: 1rem;
     
}

header{
    justify-content: space-between;
}

.primary-header{
    display: flex;
}
.mobile-nav-toggle{
    display: none;
    background-image: url('Hamburger_icon.svg.png');

}


.sr-only{
    display: none;
}

@media(max-width: 40em){
                         /* NAVBAR */
   .primary-navigation{
        
        background: hsl(0% 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
        position: fixed;
        inset: 0 0 0 30%;
        transform: translateX(100%);
        flex-direction:column;
        padding: 10rem 2em;
        height: 100%;
        margin: 0;
    }
    
    ul#primary-navigation[data-visible = "true"]{
        transform: translateX(0%);
    }
    ul#primary-navigation{
        transform: translateX(100%);
    }
    
    .mobile-nav-toggle{
    position: absolute;
    z-index: 9999;    
    background: url('Hamburger_icon.svg.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    
    display: block;
    border: 0;
    }
    .mobile-nav-toggle[aria-expanded="true"]{
    background: url("icone-x-noir.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }

}

                                        /********** MAIN-PAGE MAIN ***********/


.background-img {
    background-image: url(Atopia\ bc\ medium.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    height: 100vh;  
    padding: 4%; 
}

.big-A {
    height: 420px;
}

div.about-the-team{
    width: fit-content;
    height: fit-content;
    background: url("white-gift-card-on-transparent-background-free-png\ 1.png");
    padding: 2%;
    border-radius: 15px;
    
}

.arrow-container{
    position: relative;
    /* margin-left: 4rem; */

}

    .homepage{
        display: flex; 
             
    }
    .A-container{
        background-color: blue;
        display: inline-block;
        width: fit-content;
        /* margin: 0 auto; */
        
    }
    .big-A{
        height: 500px;
        float: left;
    }

    .att{
        font-size: .85rem;
        margin: 0;
    }

    div.about-the-team{
        width: 35vw;
        height: fit-content;
        background: white;
        padding: 4%;
        margin-top: 1.5rem;
        border-radius: 15px;
    }

    .bottom-images{
        width: 100vw;            
    }

    @media(max-width: 40em){
        .att{
            font-size: .5rem;
        }
        .homepage{
            flex-direction: column;
        }
        .big-A{
            width: 300px;
            max-width: 100%;
            align-self: center;

        }

    }


    @media(min-width: 40em){
        .arrow-container{
            margin-left: 4rem;
        }
    }
    
    
    .arowQuote-div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        gap: 1.5rem;
        position: absolute;
        bottom: 0;
    }
    .Quote-div{
     width: fit-content;
    
    }
    
    .arow {
        height: 70px;
    }
    .GetaQ{
        color: white;
        line-height: 2;
    
    }
    .Quote-hr{
        margin: 0;
    
    }

                          /* DOWN HERE FOOTER */

    .budget1{
        width: fit-content;
        display: grid;
        grid-template-columns: 100%;
        gap: 10px;;
        
        margin: 0 auto;

    }

    .centered {
        max-width: 400px;
        margin: 0 auto;
    }
    
    #contact-form {
         max-width: 600px;

        margin: 0 auto;
      }
      
      input,
      textarea {
        
       
        padding: 8px;
        margin-bottom: 16px;
        border-radius: 0px;
        border: solid 2px black;
        
      }
      textarea{
        min-width: 580px;
        min-height: 163px;
      }
     
      
      form {
        display: grid;
        grid-template-columns:1fr 1fr;
        gap:10px;
        max-width: 600px;
        margin: 0 auto;
      }
      
      form input:last-child {
        grid-column:span 2;
      }

      div.anotherone{
        width: fit-content;
        margin: 0 auto;

      }


@media (max-width: 40em){
    .budget1{
        width: fit-content;
        display: grid;
        grid-template-columns: 100%;
        gap: 10px;;
        
        margin: 0 auto;

    }

    .centered {
        max-width: 400px;
        margin: 0 auto;
    }
    
    #contact-form {
         max-width: 600px;

        margin: 0 auto;
      }
      
      input,
      textarea {
        
       
        padding: 8px;
        margin-bottom: 16px;
        border-radius: 0px;
        border: solid 2px black;
        
      }
      textarea{
        min-width: 580px;
        min-height: 163px;
      }
     
      
      form {
        display: grid;
        grid-template-columns:1fr 1fr;
        gap:10px;
        max-width: 600px;
        margin: 0 auto;
      }
      
      form input:last-child {
        grid-column:span 2;
      }

      div.anotherone{
        width: fit-content;
        margin: 0 auto;
      }






}
@media(min-width: 40em){
    .budget1{
        width: fit-content;
       display: grid;
       grid-template-columns: 50% 50%;
       gap: 10px;;
    
       margin: 0 auto;
    }    
    #contact-form{
        max-width: 300px;;
    }
}


.budget{
    border: 2px solid black;
    margin-bottom: 5px;
    width: 300px;

}


.bottom-images{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    
}

.buttons{
    border: 2px solid black;
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    margin: 10px;
    float: left;
}

.btn{
    background: black;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    
}
.footerscontainer{
    width: fit-content;
    float: left;
}

.footers{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.copy{
    float: right;
}


footer {
    padding: 10px;
    margin: 10px;
}