body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}
      
                                                             /******** NAV-BAR ********/
.logo{
    width: 100px; 
    align-self: center;
    width: 100px; 
  
    align-self: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    
    display: flex;   
    gap: 1rem;
     
}

header{
    justify-content: space-between;
}

.primary-header{
    display: flex;
}
.mobile-nav-toggle{
    display: none;
    background-image: url('Hamburger_icon.svg.png');

}


.sr-only{
    display: none;
}


@media(max-width: 40em){
                         /* NAVBAR */
    .logo{
        position: absolute;
        top: 2rem;
        left: 1.5rem;

    }
   .primary-navigation{
        
        background: hsl(0% 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
        position: fixed;
        inset: 0 0 0 30%;
        transform: translateX(100%);
        flex-direction:column;
        padding: 10rem 2em;
        height: 100%;
        margin: 0;
    }
    
    ul#primary-navigation[data-visible = "true"]{
        transform: translateX(0%);
    }
    ul#primary-navigation{
        transform: translateX(100%);
    }
    
    .mobile-nav-toggle{
    position: absolute;
    z-index: 9999;    
    background: url('mobile-nav-toggle-open.svg'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 3rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 1.5rem;
    
    display: block;
    border: 0;
    }
    .mobile-nav-toggle[aria-expanded="true"]{
    background: url("mobile-nav-toggle-close.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }

}

                                        /********** MAIN-PAGE MAIN ***********/


.homepage{
    display: flex; 
    align-items: center;
    margin-top: 8vh;
             
}

.background-img {
    background-image: url(Atopia\ bc\ medium.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    height: 100vh;  
    padding: 4%; 
}


.A-container{
    display: flex;
    width: fit-content;
    margin: 0 auto;
        
}



div.about-the-team{
    width: fit-content;
    height: fit-content;
    background: url("white-gift-card-on-transparent-background-free-png\ 1.png");

    border-radius: 15px;


    
    
}

.arrow-container{
    display: flex;
    flex-direction: column;
    margin-left: 13%;
}


.big-A{
    height: 450px;
    float: left;

}

div.about-the-team{
    width: 100%;
    height: fit-content;
    background: white;
    box-shadow: -10px 10px;
    margin-top: 1.5rem;
    border-radius: 15px;

}

.att{
    font-size: .85rem;
    margin: 1rem;
    }

/* .bottom-images{
    width: 100vw;            
} */

@media(max-width: 40em){
    .background-img { 

        padding: 1.5rem; 
    }
    
    .homepage{
        flex-direction: column;
        margin-top: 10vh;


    }   
    .arrow-container{
        margin: 3rem auto 0 auto;
        width: 100%;
    }
    
    div.about-the-team{
        width: 100%;
        height: fit-content;
        background: white;
        margin-top: 1.5rem;
        border-radius: 15px;
        box-shadow: -10px 10px;
        margin: 0 auto;
    }
    
    .A-container{
        flex-direction: column;
        
        
    }
    .att{
        font-size: .5rem;
    }
    .big-A {
        width: 285px;
        height: 251px;
        max-width: 100%;
        align-self: center;
        margin-right: 0;

    }
    .arowQuote-div {    
        margin-top: 2rem;

    }

    .arow{
        height: 55px;
    }

}


@media(min-width: 40em){
    .arowQuote-div{
        margin-top: auto;
      
    }
}
    
    
.arowQuote-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 1.5rem;


}

.Quote-div{
    width: fit-content;
    
}
    
.arow {
    height: 70px;

}

.GetaQ{
    color: white;
    line-height: 2;
    
}
.Quote-hr{
    margin: 0;
    
}
                                /********** MIDDLE PAGE ************/


.mid-page{
    padding: 0 4%;
}

.pre-works{
    font-size: 30px;
    font-weight: 550;
}

.bottom-images{
    width: 400px;
    text-align: center;
    margin: 0 auto;

    
}

.first-tw{
    display: flex;
    justify-content: space-between;
}

.middle{
    width: fit-content;
    margin: 1rem auto;
    
}
.linear-grad{
    display: none;
}

.last-tw{
    display: flex;
}

@media(max-width: 40rem){


    .mid-page{
        padding: 0;
    }

    .pre-works{
        padding: 0 4%;
    }

    .bottom-images{
        width: 100%;
    }

    .column{
        display: flex;
        flex-direction: column;
    }
    .none{
        display: none;
    }

    .middle{
        
    }

    .neg-mar{
        margin-top: -10rem;
    }
    .linear-grad{
        display: block;
        width: 100%;
        height: 300px;
        position: relative;
        background-image: linear-gradient(to top, rgb(189, 180, 180), transparent);
        margin-top: -15rem; 
        z-index: 33;

        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

                          /* DOWN HERE FOOTER */


* {
     box-sizing: border-box;
}


form{
    width: 45%;
    margin: 0 auto;
}

.entrance{
    text-align: center;
}

.hr-ttls{
    text-align: left;
    padding-top: 1.5rem;
}

.placeholder::placeholder{
    color:#B8B8B8;
}

form h3 {
    margin: 0;
}

.box-shadow{
    box-shadow: -5px 5px black;

}

.input-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

input{
    padding: 0 0 0 8px;;
    margin-bottom: 16px;
    border-radius: 0px;
    border: solid 2px black;
    height: 40px;
    width: 270px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

#name{
    width: 47%;
}

.sticky{
    width: 53%;
    position: relative;
}

#name2{
    position: absolute;
    right: 0;    
    width: 90%;

}


#email{
    flex: 100%;
   
}


.budget0{
    width: fit-content;
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;;
    font-weight: 500;

    margin: 0 auto;

}

.budget{
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 5px;
    width: 95%;
    height: 40px;
    font-size: .8rem;
    position: relative;
}

.buttons{
    border: 1px solid black;
    position: relative;
    height: 11px;
    width: 11px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    margin: 13px 10px;
    float: left;
}

.btn{
    background: rgb(19, 107, 136);
    height: 5.5px;
    width: 5.5px;
    border-radius: 100%;
    
}

.budget-range{
    display: flex;
    align-items: center;
    width: fit-content;
    /* word-spacing: 2px; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    right: 0;
    text-align: center;
}

.budget0{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;;
    margin: 0 auto;
}    






#Timeline-3 {
    width: 100%;
    height: 40px; 
    margin: 0 auto;   
    margin-bottom: 2rem;
    
    padding: 10px;
    background-color: #fff; 
    border-radius: 0;
    border: solid 1px #000;
    box-shadow: -5px 5px black;
    
    font-family: poppins;
    font-weight: 500;
    color: lightgray;

  }


  
.option-clr{
    font-weight: 500;
    color: #222121;
}

textarea{
    min-width: 100%;
    margin-bottom: 2rem;
    min-height: 163px;         
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.submit-btn{
    display: flex;

}

.arow2{
    width: 70px;
}

.submit-hr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 1rem;
    width: fit-content;
}
.hr-line{
    width: 100%;
    margin: 0;
}


@media(max-width: 40em){
    form{
        width: 95%;
    }

    .input-container{
        flex-direction: column;
    }
    #name, input{
        width: 100%;
        height: 40px;
    }
    #email{
        flex: 0 1 auto;
        height: 40px !important;
    }
    
    .sticky{
        width: 100%;
        position: static;
        
    }
    
    #name2{
        position: static; 
        width: 100%;
        
    }

    .budget0{
        display: flex;
        flex-direction: column;
    }
    .budget{
        width: 100%;
    }
}

               /************** COPYRIGHT ****************/

.cy-ed {
    display: flex;
    margin: 11rem 2rem 3rem 2rem;
    justify-content: space-between;


}

@media(max-width: 40em){
    .cy-ed{
        flex-direction: column;
    }

    .copy{
        margin: 0 auto;
    }
    .footers{
        text-align: center;
    }
}

.verlt-gry{
    color: #808080;
}

.verlt-lg-gry{
    color: #4D4D4D;
}

.copy{
    align-self: flex-end;
    font-weight: 500;
    color: #4D4D4D;
    text-transform: uppercase;
}




footer {
    padding: 10px;
    margin: 10px;
    margin-top: 3rem;
}

.footerscontainer{
    width: fit-content;
    
}

.footers{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    font-weight: 600;

}